section.home
  .content
    position relative
    height 100%

    .banner
      position relative
      top 20 vh
      text-align center
      font-size 36px
      text-transform uppercase
    .logo-container
      position absolute
      bottom 0
      right 0
      img
        width 400px
