doctype HTML5
html
  head
    title Metanoia
    link(rel='stylesheet', href='app.css')
  body
    .header

    .parallax
      .parallax-layer.parallax-layer-back.home-back
      .parallax-layer.parallax-layer-base
        include ./sections/home/index
        include ./sections/dictionary/index

    include ./sections/work/index
    include ./sections/staff/index
    include ./sections/contact/index

    //- Application scripts
    script(type='text/javascript', src='app.js')
