doctype HTML5
html
  head
    title Metanoia
    link(rel='stylesheet', href='app.css')
  body
    .header

    .parallax
      .parallax-layer.parallax-layer-back.home-back
      .parallax-layer.parallax-layer-base
        include ./sections/home/index
        section.dictionary
          .content

    section.work
    section.staff
    section.contact

    //- Application scripts
    script(type='text/javascript', src='app.js')
